body {
  background-color: hsl(220, 13%, 18%);
  min-height: 100vh;
}

.calculator {
  display: grid;
  /* grid-auto-rows: minmax(50px, 10px); */
  max-width: 50px;
  margin: 5rem auto;
}

.button-row {
  display: flex;
  justify-content: space-between;
}

.button-row :last-child {
  background-color: rgb(253, 155, 36);
}

button {
  width: 100%;
  border: 1px solid rgb(139, 139, 139);
  font-size: 18px;
  padding: 1rem;
}

.display {
  background-color: #ababab;
  font-size: 22px;
  padding: 0.5rem 0.5rem;
  color: white;
  text-align: right;
}

.narrow {
  width: 140px;
}
