body {
  background-color: hsl(0, 0%, 93%);
  min-height: 100vh;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.quote-container {
  display: flex;
  flex-direction: column;
  margin: 5rem 3rem;
  width: 20rem;
}

.quote-container p {
  font-style: italic;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(64, 111, 154);
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(58, 58, 58);
  text-align: right;
}

.calculator {
  display: grid;
  max-width: 300px;
  margin: 5rem 1rem;
}

.button-row {
  display: flex;
  justify-content: space-between;
}

.button-row :last-child {
  background-color: rgb(253, 155, 36);
}

button {
  width: 100%;
  border: 1px solid rgb(195, 195, 195);
  font-size: 18px;
  padding: 1rem;
  cursor: pointer;
}

.display {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #8f8f8f;
  font-size: 22px;
  padding: 0.5rem 0.5rem;
  color: white;
}

.narrow {
  width: 140px;
}
